<div class="container mt-3 justify-content-center">

    <app-seller-form [seller]="seller" (saveEmitter)="save()"></app-seller-form>

    <div class="row">

        <div class="text-center">
            <h1>Tabela de Sellers</h1>
        </div>

        <div class="col-md-10 offset-md-1 mt-3">
            <table class="table" id="sellersTable">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Salário</th>
                        <th scope="col">Bonus (%)</th>
                        <th scope="col">Gênero</th>
                        <th scope="col" class="text-end">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let seller of sellers">
                        <td>{{seller.id}}</td>
                        <td>{{seller.name}}</td>
                        <td>{{seller.salary | currency: 'BRL'}}</td>
                        <td>{{seller.bonus}}</td>
                        <td>{{seller.gender}}</td>
                        <td class="text-end">
                            <button class="btn btn-dark p-1 me-1"><i class="bi bi-pencil"></i></button>
                            <button class="btn btn-dark p-1"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row text-center mt-3">
            <div class="col-md-6 offset-md-3">
                <button class="btn btn-dark w-50">Novo</button>
            </div>
        </div>
    </div>
</div>